article {
  border: 5px solid black;
  float: left;
  width: 300px;
  height: 40px;
  background-color: green;
}
body {
  background-image: url('https://www.google.com/search?q=monkey+meme&tbm=isch&ved=2ahUKEwio0avhvMPtAhUCD-wKHSxBD4QQ2-cCegQIABAA&oq=monkey+meme&gs_lcp=CgNpbWcQAzICCAAyAggAMgIIADICCAAyAggAMgQIABAeMgQIABAeMgQIABAeMgQIABAeMgQIABAeUJu9AVjGwQFgvMMBaABwAHgAgAFNiAGUApIBATSYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=jRzSX-jWEYKesAesgr2gCA&bih=657&biw=1366&rlz=1C1GGRV_enNL760NL760#imgrc=0FB_Ah8WTcb8gM&imgdii=H4k9EnInhiLXnM');
}
